# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://dqxfbsgusydmaaxdrgxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxeGZic2d1c3lkbWFheGRyZ3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNzEyNDcsImV4cCI6MjA5MTg0NzI0N30.HMbhiqjVUvEFG-BL_W2j8rer6Fucl2j6xIacPlEsszY
SUPABASE_SERVICE_ROLE_KEY=

# Site
NEXT_PUBLIC_SITE_URL=http://localhost:3000
